@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua:wght@400&display=swap");
@import 'swiper/css';
@import 'swiper/css/bundle';
@import 'swiper/css/pagination'; 
@import 'swiper/css/navigation';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {

 
  color: white;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color: white;
}




